* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --body: #241c15;
  --section: #d8eacc;
  --button: #ffe01b;
  --footer: #e7b75f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Means Web, Georgia, Times, Times New Roman, serif;
  font-weight: 400;
  font-size: 3.6vw;
}

p,
li {
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
}

nav {
  width: 100%;
  background-color: var(--section);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  font-size: 14px;
  font-weight: 400;
}

nav .left ul,
nav .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .left ul li {
  list-style: none;
}

nav .left ul li a {
  text-decoration: none;
  color: var(--body);
  padding: 0 10px;
}

.right > * {
  padding: 0 10px;
}

.right div:nth-child(1) {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.right div:nth-child(2) {
  display: flex;
  align-items: center;
}

.right div:nth-child(2) img {
  width: 14px;
  height: 14px;
}

.right div:nth-child(3) {
  width: 100%;
  display: flex;
}

.right button {
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
  width: 100%;
  border: 1px solid var(--body);
  padding: 15px 20px;
  margin: 0 5px;
  border-radius: 25px;
}

.right button:nth-child(1) {
  background-color: transparent;
}

.right button:nth-child(1) {
  background-color: transparent;
}

.right button:nth-child(1) {
  background-color: transparent;
}

.right button:nth-child(2) {
  background-color: var(--button);
}

#hero,
.hero_text,
.hero_img {
  width: 100%;
}

#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--section);
  padding: 30px 60px;
}

#hero p {
  font-size: 12px;
}

#hero h3 {
  line-height: 0.9;
}
