* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --body: #241c15;
  --section: #d8eacc;
  --button: #ffe01b;
  --footer: #e7b75f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Means Web, Georgia, Times, Times New Roman, serif;
  font-weight: 400;
  font-size: 3.6vw;
}

p,
li {
  font-family: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
}

nav {
  padding: 0 20px;
}

nav,
nav .left ul,
nav .right {
  background-color: #e7b75f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .left ul li {
  list-style: none;
}

nav .left ul li a {
  text-decoration: none;
  color: var(--body);
}
